<div id="projects_list">
	<table class="table table-bordered">
	 	<thead>
	 		<tr>
	 			<td></td>
	 			<td>Name</td>
	 			<td colspan="2">Email</td>
	 		</tr>
	 	</thead>
	  <tbody>
			<% users.each_with_index do |user, index| %>
			 <tr>
				 <td> <%= index+1 %></td>
				 <td><%= link_to user.name, edit_user_path(user), remote: true %></td>

				 <td  colspan="2"> <%= user.email%> 
				 	<div class="pull-right text-danger">
				 		<%= link_to 'Remove', user_path(user), method: 'delete' %>
				 	</div>
				 </td>
		   </tr>
		   <thead>
		   	<tr>
		   		<th></th>
		   		<th> Requests </th>
		   		<th> From - To </th>
		   		<th> Action </th>
		   	</tr>
		   	<%user.pending_requests.each do |req|%>
		   		<tr>
		   			<td></td>
		   			<td> <%= req.reason %></td>
		   			<td> 
		   				<%= "#{req.from_date.strftime('%d/%m/%y')}- #{req.to_date.strftime('%d/%m/%y')}"  %></td>
		   			<td>
		   				<a class="text-primary" onClick="openPopup(<%= req.id %>)">respond</a>
		   			</td>
		   		</tr>
		   	<%end%>
		   </thead>
			<% end %>
		</tbody>
	</table>	
</div>
